<% layout("layouts/boilerplate") %>

<div class="container">
    <h1 class="text-danger">Error <%= err.statusCode || 500 %></h1>
    <p><%= err.message || "Something went wrong!" %></p>

    
</div>






