<% layout ("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" placeholder="Add a catchy title" type="text" class="form-control" required />
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input name="description" placeholder="Enter description" type="text" class="form-control" required />
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="image" placeholder="Enter image URL/link" type="text" class="form-control" required />
                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" placeholder="1200" type="number" class="form-control" required />
                    <div class="valid-feedback">Price looks good!</div>
                    <div class="invalid-feedback">Price should be valid.</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="location" placeholder="Bilaspur" type="text" class="form-control" required />
                    <div class="valid-feedback">Location looks good!</div>
                    <div class="invalid-feedback">Please enter a valid location.</div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="country" placeholder="India" type="text" class="form-control" required />
                    <div class="valid-feedback">Country looks good!</div>
                    <div class="invalid-feedback">Please enter a valid country.</div>
                </div>

                <button type="submit" class="btn btn-dark add-btn">Add</button>
            </form>
            <br>
        </div>
    </div>
</body>
